.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

.login-form {
  border-width: 5px;
  border-style: groove;
  text-align: left;
  padding: 30px;
}

.login-form label {
  margin-left: 5px;
}

.login-form input {
  margin-top: 20px;
  margin-left: 5px;
}

.login-btn {
  margin-left: 30px;
  height: 43px;
  float: right;
}
