.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

.login-form {
  border-width: 5px;
  border-style: groove;
  text-align: left;
  padding: 30px;
  min-width: 50vh;
}

.login-btn {
  width: 100%;
}

.email-address {
  width: 100%;
  line-height: 15.95px;
}

.password {
  width: 100%;
}